body,html {
    color: #333;
    height:100%;
    width:100%;
}
a {
    text-decoration: none;
    color: #1b98f8;
}
/* Asset */
.float-left{
    float:left;
}

.add-student,.print-qr,.delete-class{
    text-align: center;
    width:100px;
    cursor:pointer;
    float:right;
}
.add-student:hover ,.print-qr:hover,.delete-class:hover{
    color:#1FAEC4;
}

.add-student .icon{
    background-position: 0 0;
    background-image: url("/icons_toolbar.png");
}
.print-qr .icon{
    background-position: -20px 0;
    background-image: url("/icons_toolbar.png");
}
.delete-class .icon{
    background-position: -100px 0;
    background-image: url("/icons_toolbar.png");
}

.icon{
    height: 18px;
    width: 20px;
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 35px;
}


.plus{
    color:#999;
    font-size:20px;
    padding:5px;
}

.circular {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    box-shadow: 0 0 1px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, .8);
    margin-right:10px;
}
.circular-mini {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    box-shadow: 0 0 1px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, .8);
    margin-right:10px;
}
/* LAYOUT CSS */
#layout {
    padding-left:225px; /* "left col (nav + list)" width */
    position: relative;
    height:100%;
}

#list {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: auto;
}
#list {
    margin-left: -225px;
    width:225px;
    border-right: 1px solid #ddd;
    background-color:#2B3238;
}
#main{
   height:100%;
}
/* topic Item Styles */
.class-item {
    /*border-left: 6px solid transparent;*/
    padding: 0.7em 0.5em 0.6em 0.5em;
    border-bottom: 1px solid #394048;
    cursor:pointer;
}
.class-item:hover {
    background-color: #272d33;
}
.class-item-selected {
    background-color: #20262a;
    border-top: 1px solid #171c1f;
    border-bottom: 1px solid #171c1f;
}
.class-item-selected:hover {
     background-color: #20262a;
}

.class-item-unread {
    border-left: 6px solid #02a3c6;
}
    .class-avatar {
        border-radius: 3px;
        margin-right: 0.5em;
    }
    .class-name {
        margin: 0;
        text-transform: uppercase;
        color: #EEE;
    }
    .class-subject {
        margin: 0;
        font-weight:normal;
    }
    .class-desc {
        font-size: 80%;
        margin: 0.4em 0;
    }

.text-info{color:#1FAEC4;}
.text-success{color:#3cd847;}
.text-warning{color:#ffbf00;}
.text-alert{color:#ef2b15;}

/* topic Content Styles */
.class-content{
    position:relative;
    height:100%;
}
.class-content-header,.class-content-body, .class-content-footer {

    padding: 1em 2em;
}
    .class-content-header {

        border-bottom: 1px solid #ddd;
    }
        .class-content-review{

        }
            .class-content-title {
                margin: 0.5em 0 0;
            }
            .class-content-subtitle {
                margin: 0;
                font-weight: normal;
            }
    .class-content-controls {
        /*margin-top: 2em;*/
        text-align: right;
    }
        .class-content-controls .secondary-button {
            margin-bottom: 0.3em;
        }
    .class-content-body{

        background-color:#DDD;
        display: block;
        position:absolute;
        height:auto;
        bottom:0;
        top:0;
        left:0;
        right:0;
        margin-top:89px;
        overflow:auto;
    }
        .thumbnailContainer{
            position:absolute;
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            transition: all .3s ease;
            border: 5px solid transparent;
        }
            .thumbnail{
                height: 190px;
                width: 198px;
                max-height: 190px;
                background-color: white;
                cursor: pointer;
                -moz-box-shadow: 0 1px 2px #c3c3c3;
                -webkit-box-shadow: 0 1px 2px #c3c3c3;
                box-shadow: 0 1px 2px #c3c3c3;
            }
                .imageContainer{
                    background-color: white;
                    background-position: 50% 50%;
                    background-repeat: no-repeat no-repeat;
                    height: 150px;
                    max-height: 150px;
                    z-index: 2;
                    position: absolute;
                    -moz-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.08);
                    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.08);
                    box-shadow: inset 0 -1px 0 rgba(0,0,0,0.08);
                    -webkit-transition: all .3s ease;
                    -moz-transition: all .3s ease;
                    transition: all .3s ease;
                }
                .describe{
                    height: 40px;
                    position: absolute;
                    bottom: 0;
                    background-color: white;
                    width: 100%;
                }
                    .describeTitle{
                        margin-top: 13px;
                        margin-bottom: -2px;
                        margin-left: 10px;
                        font-size: 11px;
                        font-weight: 600;
                        color: #333;
                        font-family: 'Whitney SSm A','Whitney SSm B',sans-serif;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        width: 89%;
                    }

/* Button CSS */
.pure-button-primary,
.pure-button-success,
.pure-button-error,
.pure-button-warning,
.pure-button-secondary {
    border: 1px solid #ddd;
    color:white;
    padding: 0.5em 2em;
    font-size: 80%;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.pure-button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.pure-button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.pure-button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.pure-button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

/* Animation */
.animate-enter,
.animate-leave
{
  -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  position: relative;
  display: block;
}

.animate-enter.animate-enter-active,
.animate-leave {
  opacity: 1;
  top: 0;
  height: 30px;
}

.animate-leave.animate-leave-active,
.animate-enter {
  opacity: 0;
  top: -50px;
  height: 0px;
}

/* Media Queries */
@media (max-width: 867px) {

    #list,
    #main {
        width: 100%;
    }
    #layout {
        padding-left: -150px;
    }
    #list {
        height: 33%;
        border-right: 0;
        border-bottom: 1px solid #ddd;
    }
    #main {
        position: fixed;
        top: 33%;
        right: 0;
        bottom: 0;
        left: 150px;
        overflow: auto;
        width: auto; /* so that it's not 100% */
    }
}

@media (max-width: 480px) {
    #layout, #list, #main {
        position: static;
        margin: 0;
        padding: 0;
    }
    .class-avatar {
        width: 40px;
        height: 40px;
    }
}
